* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

.container {
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

body {
  font-family: Roboto, sans-serif;
  background: #121118;
}

#header {
  background-color: rgba(255, 255, 255, 0.418);
  padding: 20px 0;
  position: sticky;
  top: 0;
  z-index: 99;
  backdrop-filter: blur(4px);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 600px;
}

.header a {
  color: black;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.42px;
}

.header-sign {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

#hero {
  background: #100e14;
  padding: 30px 0 0 0;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero h1 {
  color: #fff;
  font-size: 63px;
  font-weight: 400;
  letter-spacing: 2.88px;
}

.hero h3 {
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 0.42px;
  padding: 44px 0 88px 0;
}

.btn {
  padding: 15px 46px 24px 30px;
  color: #fff;
  font-size: 23px;
  font-weight: 400;
  letter-spacing: 0.42px;
  border-radius: 8px;
  background: #ff4343;
}

.hero p {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.42px;
  padding: 19px 0 64px 0;
}

.hero-img1 {
  position: relative;
}
.hero-img2 {
  position: absolute;
  top: 0;
  right: 10px;
 
}

#shoot {
  padding: 100px 0;
}

.shoot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1100px;
}

.shoot-title h1 {
  color: #fff;
  font-size: 58px;
  font-weight: 400;
  line-height: 70.4px;
  letter-spacing: 1.92px;
}

.shoot-title p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 26px;
  font-weight: 400;
  line-height: 37.8px;
  letter-spacing: 1.08px;
  margin-top: 38px;
}

.shoot-img1 {
  position: relative;
}

.shoot-img2 {
  position: absolute;
  right: -20px;
  bottom: 40px;
}

.enrich {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.enrich-img1 {
  position: relative;
}

.enrich-img2 {
  position: absolute;
  bottom: 0;
}

.enrich-title h1 {
  color: #fff;
  font-size: 58px;
  font-weight: 400;
  line-height: 70.4px;
  letter-spacing: 1.92px;
  margin: 0 0 0 55px;
}

.enrich-title p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 27px;
  font-weight: 400;
  line-height: 37.8px;
  margin-top: 38px;
  margin: 0 0 0 55px;
}

.enrich-title p span {
  color: #fff;
  font-size: 27px;
  font-weight: 700;
  letter-spacing: 1.08px;
}

#add {
  padding: 100px 0;
}

.add {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.start {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.start-link {
  position: relative;
  width: 562px;
  height: 350px;
  background-color: rgba(41, 41, 41, 0.372);
  border-radius: 50px;
  display: flex;
}

.links {
  position: absolute;
  bottom: 0;
  left: 30px;
  z-index: -1;
}

.youtube {
  position: relative;
  background-color: red;
  width: 70px;
  height: 250px;
  border-radius: 10px;
  text-align: center;
  padding-top: 10px;
}

.youtube span {
  font-size: 30px;
  color: white;
}
.instagram {
  position: absolute;
  top: 0;
  right: -60px;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  width: 70px;
  height: 250px;
  border-radius: 10px;
  text-align: center;
  padding-top: 10px;
}

.instagram span {
  font-size: 30px;
  color: white;
}

.tiktok {
  position: absolute;
  top: 0;
  right: -60px;
  background: black;
  width: 70px;
  height: 250px;
  border-radius: 10px;
  text-align: center;
  padding-top: 10px;
}

.tiktok span {
  font-size: 30px;
  color: white;
}
.twiter {
  position: absolute;
  top: 0;
  right: -60px;
  background: blue;
  width: 70px;
  height: 250px;
  border-radius: 10px;
  text-align: center;
  padding-top: 10px;
}

.twiter span {
  font-size: 30px;
  color: white;
}

.linkedin {
  position: absolute;
  top: 0;
  right: -60px;
  background: rgb(59, 85, 155);
  width: 70px;
  height: 250px;
  border-radius: 10px;
  text-align: center;
  padding-top: 10px;
}

.linkedin span {
  font-size: 30px;
  color: white;
}

.email {
  position: absolute;
  top: 0;
  right: -60px;
  background: rgb(64, 82, 72);
  width: 70px;
  height: 250px;
  border-radius: 10px;
  text-align: center;
  padding-top: 10px;
}

.email span {
  font-size: 30px;
  color: white;
}

.whatsapp {
  position: absolute;
  top: 0;
  right: -60px;
  background: green;
  width: 70px;
  height: 250px;
  border-radius: 10px;
  text-align: center;
  padding-top: 10px;
  border-bottom-right-radius: 30px;
}
.whatsapp span {
  font-size: 30px;
  color: white;
}

.link {
  z-index: 99;
}

#cards {
  padding: 200px 0;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.cards h1 {
  color: #fff;
  font-size: 61px;
  font-weight: 400;
  line-height: 83.2px; /* 136.393% */
  letter-spacing: 2.56px;
}

.cards-line {
  width: 120px;
  height: 5px;
  background: #ff4343;
  margin: 38px 0 34px 0;
}

.cards p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 26px;
  font-weight: 400;
  line-height: 37.8px; /* 145.385% */
  letter-spacing: 0.42px;
}

.card {
  position: relative;
}

.card-text {
  position: absolute;
  left: 35px;
  bottom: 40px;
}

.card-text h4 {
  color: #fff;
  font-size: 29px;
  font-weight: 400;
  line-height: 34.8px; /* 120% */
  letter-spacing: 0.42px;
}

.card-text h5 {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.42px;
  margin-top: 12px;
}

.card-text p {
  color: rgba(255, 255, 255, 0.65);
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.42px;
}

.foto {
  margin-top: 88px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sign {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 85vh;
}

.sign input {
  width: 200px;
  height: 30px;
  margin: 10px 0;
  padding: 0 10px;
  border-radius: 10px;
  font-size: 20px;
}

.sign button {
  width: 220px;
  height: 30px;
  background-color: rgb(57, 57, 192);
  border: none;
  color: rgb(242, 242, 244);
  cursor: pointer;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 251.188px;
  height: 452.125px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.users {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.users h5 {
  color: #8bffb0;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0.42px;
}

.users h1 {
  color: #fff;
  font-size: 58px;
  font-weight: 400;
  line-height: 83.2px;
  letter-spacing: 1.92px;
  margin: 21px 0 32px 0;
}

.users p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 27px;
  font-weight: 400;
  line-height: 39.2px; /* 145.185% */
  letter-spacing: 0.42px;
}

.users img {
  margin: 70px 0 60px 0;
}

.teach {
  width: 1120px;
  height: 433px;
  border-radius: 30px;
  background: #1d1b24;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.teach button {
  margin: 74px 0 0 0;
  border: none;
}

.teach button span {
  position: relative;
  top: 10px;
  font-size: 40px;
}

#lesson {
  background: url(./img/lesson\ img.png) no-repeat center/cover;
}

.lesson {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 60vh;
}

.lesson h1 {
  color: #fff;
  font-size: 42px;
  font-style: italic;
  font-weight: 700;
  line-height: 48.837px; /* 116.279% */
  letter-spacing: 0.42px;
}

.lesson p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 23px;
  font-weight: 400;
  letter-spacing: 0.42px;
}

.nova-h1 {
  color: #fff;
  font-size: 58px;
  font-weight: 400;
  letter-spacing: 1.92px;
}

.nova-img-text h1 {
  color: #fff;
  font-size: 19px;
  font-weight: 400;
  letter-spacing: 0.42px;
  margin-bottom: 18px;
}

.nova-span {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.42px;
}

.nova-icon {
  color: white;
  font-size: 20px;
}

.nova-img {
  position: relative;
}

.nova-img-text {
  position: absolute;
  left: 15px;
  bottom: 20px;
}

.nova-block {
  padding-left: 30px;
  background: #95fec1;
  position: relative;
  width: 306px;
  height: 440px;
}

.nova-block h3 {
  color: #95fec1;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.24px;
  text-transform: uppercase;
}

.nova-block h1 {
  padding: 17px 0 23px 0;
  color: #fff;
  font-size: 25px;
  font-weight: 400;
  line-height: 36px; /* 124.138% */
  letter-spacing: 0.42px;
}

.nova-block p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px; /* 137.5% */
  letter-spacing: 0.42px;
}

.nova-block-icon h4 {
  color: #fff;
  font-size: 19px;
  font-weight: 400;
  letter-spacing: 0.6px;
}

.nova-block-icon span {
  font-size: 30px;
  color: white;
}
.nova-block-icon {
  display: flex;
  align-items: center;
}
.nova-left {
  display: flex;
  align-items: flex-end;
  margin: 0 10px 0 0;
}
.nova-block-icon {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.nova {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#nova {
  padding: 170px 0 180px 0;
}
#footer {
  background: #000;
  padding: 120px 0;
}

.footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.footer-block h1 {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.18px;
  text-transform: uppercase;
  margin-bottom: 48px;
}
.footer-block a {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.16px;
  transition: 0.5s;
}
.footer-block a:hover {
  text-decoration: underline;
  color: blue;
}
.footer-icon span {
  font-size: 30px;
  color: white;
  margin: 0 10px;
  transition: 0.5s;
}
.footer-icon span:hover {
  color: #ff4343;
}
